* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bodoni Moda", serif;
  background-color: #fff;
  color: #000000;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin-bottom: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #888;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  color: #000000;
}

h1, h2 {
  font-size: 4em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-top: 10px;
}

.portfolio-image {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

footer {
  background-color: #ffffff;
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}




